/* Set Color Scheme */
body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}
/* Set link colors */
a {
  color: LinkText;
}
a:visited {
  color: VisitedText;
}
 /* Start with all sectionDiv's hidden */
div.sectionDiv {
  display: none;
}
/* For filtering bibliographical entries */
.filterBib {
  display: none;
}
.show {
  display: block;
}
.container {
  margin-top: 20px;
  overflow: hidden;
}
.thebibliography {
  margin-bottom: 1ex;
}
.bookcontainer {
  width: 100%;
}
imgfloat {
  float: right;
  width: 40%;
  min-width: 150px;
  padding: 1em;
  }
imgborder {
  border-width: 1px;
  border-style: solid;
  border-color: grey;
}
.collapsible, .abstract {
  font-family:sans-serif;
  font-weight:bold;
  color: LinkText;
  cursor: pointer;
}
.categories, .categoryname{
  color: teal;
}
